<article class="card">
        <div class="card-content">
          <div class="media-content">
          <p class="title is-3">All Comments</p>
          </div>
          {{#ifCond allComments.length '===' 0}}
          <div class="card-content">
            <p>
              No comments yet!
            </p>
          </div>
          {{/ifCond}}
          {{#each allComments as |comment|}}
          <div class="card-content">
            <p>
              <strong>FIRSTNAME LASTNAME</strong>
              <br>
              {{comment.text}}
              <br>
              <small>ID: {{comment.id}}</small>
              <small>IMAGE-ID: {{comment.image_id}}</small>
              <small>{{comment.createdAt}}</small>
            </p>
            <button value={{comment.id}} id="delete-button" class="button is-primary" type='submit'>
              Delete
              <div class="navbar-item">
              <img src="../images/creeper-face.png">
              </div>
            </button>
          </div>
          {{/each}}
        </div>
</article>


<script src='../js/delete-comment.js'></script>