<!-- views/images.handlebars -->
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-3">{{individualRecipe.keyword}}</p>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="card-image">
      <figure class="image img">
        <img src={{individualRecipe.imageUrl}}
          alt="Crafting Recipe image">
      </figure>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Comments</p>
      </div>
    </div>
    <section data-image-id={{individualRecipe.id}} class='add-comment-container, card-content'>
      <form id='new-comment-form'>
        <textarea class="input" id='new_comment' name='new_comment' placeholder="Enter comment here!"></textarea>
        <br>
        <button class="button is-primary" type='submit'>
          Submit
        </button>
      </form>
    </section>
   <!-- {{#each allComments as |comment|}}
      {{#ifCond comment.image_id '===' individualRecipe.id}}
    <div class="card-content">
      <h3><strong>FIRSTNAME LASTNAME</strong></h3>
      <p class="card-content">
      {{comment.text}}
      <br>
      <small>{{comment.createdAt}}</small>
      <small>{{comment.image_id}}</small>
      </p>
        
    </div>
      {{/ifCond}}
    {{/each}} -->
  </div>
</div>
<!-- This is the script for adding a new comment -->
<script src='../../JS/add-comment.js'></script>